@import '../Common.scss';

.header {
    // border: 1px solid red;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    z-index: 30;
    top: 100px;
    right: 30px;
    position: fixed;

    ul.d-desktop {
        text-transform: uppercase;


        li {
            background-color: $secondary-color;
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 9999px;
            align-items: center;
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;

            i {
                font-size: 23px;
                position: absolute;
                // pointer-events: none;
                left: 15px;
                top: 13px;
            }

            div {
                width: 50px;
                height: 50px;
                display: block;

                h2 {
                    background-color: $secondary-color;
                    transition-duration: 300ms;
                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0;
                    color: $white;
                    line-height: 50px;
                    font-weight: 500;
                    text-align: center;
                    padding-right: 25px;
                    padding-left: 30px;
                    border-radius: 30px;
                    height: 50px;
                    display: block;
                    z-index: -10;
                    right: 0;
                    position: absolute;
                }

                &:hover {
                    h2 {
                        opacity: 1;
                        border-radius: 30px 0 0 30px;
                        right: 27px;
                        background-color: $secondary-color;
                        transition-duration: 300ms;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        padding-right: 25px;
                        padding-left: 30px;
                        font-size: 15px;
                        text-align: center;
                        height: 50px;
                        z-index: -10;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.d-mobile {
    display: none;
}

@media (max-width:767px) {
    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }

    .mobile-nav {
        // position: relative;

        .inputToggle {
            position: fixed;
            right: 25px;
            top: 25px;
            padding: 17px 0 0 13px;
            height: 50px;
            width: 50px;
            background-color: #252525;
            z-index: 10;

            input {
                opacity: 0;
                cursor: pointer;
                width: 54px;
                height: 54px;
                left: 0;
                top: 0;
                position: absolute;
            }

            .white-line {
                height: 0.125rem;
                background-color: $white;
                border-radius: 3px;
                width: 23px;
                display: block;
                margin-bottom: 6px;
            }


        }

        ul {
            background-color: #252525;
            padding-top: 60px;
            width: 100%;
            height: 100%;
            position: fixed;
            left: -100%;
            top: 0;
            transition: all 500ms ease-in-out;

            li {
                position: relative;
                padding: 0 30px;

                a {
                    &:hover {
                        color: $secondary-color;
                    }
                }

                div {
                    padding-top: 14px;
                    padding-bottom: 14px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #e5e7eb10;

                    span {
                        // color: $secondary-color;
                        padding: 0 0 0 20px;
                    }
                }
            }
        }
    }

    .showSideNav {
        ul {
            left: 0;
        }

        .inputToggle {
            background-color: #141822;
        }

        span {
            transition: all 500ms ease-in-out;
        }

        span.white-line:nth-of-type(1) {
            rotate: 45deg;
            position: absolute;
            top: 25px;
        }

        span.white-line:nth-of-type(2) {
            opacity: 0;
        }

        span.white-line:nth-of-type(3) {
            rotate: -45deg;
        }

    }
}