@import './Common.scss';

.profile {
    &__block {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__info {
        padding-top: 150px;

        p {
            padding: 0;
            letter-spacing: 1px;
            font-size: 18px;
        }
    }

    &__desc {
        display: flex;

        .pannel {
            &__left {
                padding-right: 2rem;
                text-align: right;

                ul {
                    li {
                        &:first-child {
                            font-size: 54px;
                            font-weight: bold;
                            color: $white;
                        }

                        font-size: 20px;
                        color: $primary-color;
                        padding-bottom: 16px;
                    }
                }
            }

            &__right {
                position: relative;
                padding-left: 32px;

                h1 {
                    text-transform: uppercase;
                    color: $secondary-color;
                    font-size: 54px;
                    font-weight: bold;
                }

                h2 {
                    font-size: 44px;
                    font-weight: 700;
                    color: $primary-color;

                    span {
                        color: $white;
                    }
                }

                p {
                    max-width: 530px;
                    padding: 20px 0 20px 0;
                    font-size: 18px;
                    line-height: 36px;
                }

                &::before {
                    content: "";
                    display: block;
                    height: 90%;
                    width: 2px;
                    background-color: $line-color;
                    position: absolute;
                    top: 78px;
                    left: 0;
                }

                a.more {
                    color: $secondary-color;

                    &:hover {
                        color: $white;
                        @include transition;
                    }
                }

                .social-icon {
                    position: relative;
                    top: 55px;

                    span {
                        display: inline-block;
                        word-break: break-word;
                        margin-right: 16px;

                        a {
                            display: inline-block;
                            border: 1px solid #FFFFFF33;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            background-color: #FFFFFF00;
                            padding: 12px;

                            // img {
                            //     width: 25px;
                            //     height: 25px;
                            // }

                            &:hover {
                                background-color: $primary-color;
                                @include transition;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .profile {
        &__block {
            padding: 0 16px;
        }

        &__info {
            padding-top: 100px;
        }

        &__desc {
            .pannel {
                &__left {
                    ul {
                        li {
                            &:first-child {
                                font-size: 42px;
                            }
                        }
                    }
                }

                &__right {
                    h1 {
                        font-size: 42px;
                    }

                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }


}

@media (max-width:767px) {
    .profile {
        &__block {
            display: block;
        }

        &__info {
            padding-top: 50px;

            p {
                padding: 0 0 15px;
                text-align: center;
            }
        }

        &__desc {
            .pannel {
                &__left {
                    padding-right: 1rem;

                    ul {
                        li {
                            &:first-child {
                                font-size: 26px;
                            }

                            font-size: 14px;
                            padding-bottom: 10px;
                        }
                    }
                }

                &__right {
                    &::before {
                        top: 46px;
                    }

                    padding-left: 1rem;

                    h1 {
                        font-size: 26px;
                    }

                    h2 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
            }
        }

        &__photo {
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin: 100px auto 0;
            border: 1px solid #3b3b3b;
            border-radius: 100%;
            background-color: #25263f;
            text-align: center;
        }
    }


}



// .designation {
//     display: flex;
// }

// .designation p {
//     height: 40px;
//     float: left;
//     margin-right: 0.3em;

// }

// .designation b {
//     float: left;
//     overflow: hidden;
//     position: relative;
//     height: 50px;
//     top: 0;
//     // border: 1px solid red;
// }

// .designation .innerIam {
//     position: relative;

//     span {
//         display: block;
//     }

//     animation: move 18s;
//     animation-iteration-count: infinite;
//     animation-delay: 1s;
// }

// @keyframes move {
//     0% {
//         top: -5px;
//     }

//     33% {
//         top: -80px;
//     }

//     66% {
//         top: -140px;
//     }

//     100% {
//         top: 0;
//     }
// }